body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

* {
  box-sizing: border-box; }

.sound {
  border: 1px solid whitesmoke;
  cursor: pointer; }

.Mock-Phone__holder {
  display: inline-block;
  position: relative;
  width: 375px;
  height: 812px;
  border: 1px solid  #E5E5E5;
  border-radius: 40px; }

#Mock-Phone__number {
  color: #222222; }

.topbar__holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3%; }
  .topbar__holder #topbar__clock {
    position: absolute;
    display: inline-block;
    left: 8%;
    top: 60%; }

.contact__holder {
  padding: 10%;
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 10%; }
  .contact__holder .contact__main {
    font-size: 2em;
    margin-bottom: 3%; }
  .contact__holder .contact__sub {
    font-size: .8em;
    font-weight: 300; }

.keypad {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; }
  .keypad .keypad__row {
    position: relative;
    width: 100%;
    height: auto; }
  .keypad .keypad__button {
    display: inline-block;
    position: relative;
    width: 75px;
    height: 75px;
    margin: 10px;
    border-radius: 50px;
    vertical-align: top;
    background: #E5E5E5; }
    .keypad .keypad__button .keypad__button--number {
      position: absolute;
      font-size: 1.9em;
      font-weight: 400;
      left: 50%;
      top: 20%;
      transform: translateX(-50%);
      margin: 0; }
      .keypad .keypad__button .keypad__button--number span {
        display: block;
        font-size: .3em;
        font-weight: 500;
        letter-spacing: 1px; }
  .keypad #call--button img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: auto; }
  .keypad .phone--call {
    background-color: #4BD964; }
    .keypad .phone--call img {
      transform: translate(-50%, -50%) rotate(0deg); }
  .keypad .phone--hangup {
    background-color: #FF3A30; }
    .keypad .phone--hangup img {
      transform: translate(-50%, -50%) rotate(135deg); }
