
$callGREEN : #4BD964;
$callRED: #FF3A30;


$buttonGREY : rgba(229, 229, 229, 1);
$callGREY : rgba(229, 229, 229, .2);




body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
}
* {
    box-sizing: border-box;
}

.sound {
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.Mock-Phone__holder {
    display: inline-block;
    position: relative;
    width: 375px; height: 812px;
    
    border: 1px solid  #E5E5E5;
    border-radius: 40px;
    overflow: hidden;
}

#background__holder {
    display: inline-block;
    position: absolute;
    height: 100%; width: 100%;
    left: 0; top: 0;
    z-index: 0;
    
    //border: 1px solid red;

}

.call__background {
    background-image: url('../images/background/background.jpg');
    background-size: 100%, 100%;
    filter: blur(15px)
}

#Mock-Phone__number {
    // display: inline-block;
    // width: 80%; height: 50px;
    // margin: 20px;
    // line-height: 50px;
    // text-align: center;
    color: #222222;
    
    

    //border: 1px solid lightgray;

}
.topbar__holder {
    position: absolute;
    top:0; left: 0;
    
    width: 100%; height: 3%;

    //border: 1px solid red;
    
    #topbar__clock {
        position: absolute;
        display: inline-block;
        left:8%; top: 60%;

    } 
    .data {
        display: inline-block;
        // border: 1px solid red;
        position: absolute;
    }
    .cell {
        right: 21%;
    }
    .wifi  {
        right: 14%;
    }
    .battery {
        right: 8%;
    }
}

.contact__holder {
    padding: 10%;
    width: 100%; height: 100px;
    position: absolute;
    left:0; top: 10%;
    
    .contact__main {
        font-size: 2em;
        margin-bottom: 3%;
    }
    .contact__sub {
        font-size: .8em;
        font-weight: 300;
    }
}


.keypad {
    position: absolute;
    top: 30%; left: 50%;
    transform: translateX(-50%);
    width: 100%;
    
    .keypad__row {
        position: relative;
        width: 100%; height: auto;
        
    }
    .noCall {
        background: $buttonGREY;
        background-image: inherit;
        
       &:active {
           background-color: darken( $buttonGREY, 20);
       }
    }
    .call {
        background: $callGREY;
        background-image: inherit;
        
       &:active {
           background-color: darken( $callGREY, 20);
       }
    }
    .keypad__button {
        display: inline-block;
        position: relative;
        width: 75px; height: 75px;
        margin: 10px;
        //border: .5px solid grey;
        border-radius: 50px;
        vertical-align: top;
        
       

       .keypad__button--calling {

       }
        .keypad__button--number {
            position: absolute;
            
            font-size: 1.9em; 
            font-weight: 400;
            left: 50%; top: 20%;
            transform: translateX(-50%);
            margin: 0;
            
            span {
                display: block;
                font-size: .3em;
                font-weight: 500;
                letter-spacing: 1px;
            }
           
        }
       

       
    }
    #call--button {
        img {
            position: absolute;
            top: 50%; left: 50%;
            width:40%;
            
            height: auto;
        }
    }
    .phone--call {
        
        background-color: $callGREEN;
        img{
            transform: translate(-50%, -50%) rotate(0deg);
        }
    
    }
    .phone--hangup {
        background-color: $callRED;
        img {
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }
}






///these are for when the phone is calling 


.calling {
    // background-color: rgba(0,0,0, .8)

}