body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
  

.sound {
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.Mock-Phone__holder {
    display: inline-block;
    position: relative;
    width: 375px; height: 812px;
    
    border: 1px solid  #E5E5E5;
    border-radius: 10px;
}

#Mock-Phone__number {
    display: inline-block;
    width: 80%; height: 50px;
    margin: 20px;
    line-height: 50px;
    text-align: center;
    color: #222222;
    
    

    //border: 1px solid lightgray;

}
.keypad {
    margin-top: 175px;
    
    
    .keypad__button {
        display: inline-block;
        position: relative;
        width: 75px; height: 75px;
        margin: 10px;
        //border: .5px solid grey;
        border-radius: 50px;
        vertical-align: top;
        background: #E5E5E5;
     
        .keypad__button--number {
            position: absolute;
            
            font-size: 1.9em; 
            font-weight: 400;
            left: 50%; top: 20%;
            transform: translateX(-50%);
            margin: 0;
            
            span {
                display: block;
                font-size: .3em;
                font-weight: 500;
                letter-spacing: 1px;
            }
        }

       
    }


    button { 
        width: 70px; height: 70px;
        margin: 8px;
        border-radius: 50px;
        vertical-align: top;
        background-color: #4BD964;
        border: none;
        outline: none;
    
    }
}
